@import url(/assets/css/reset.css);

/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --white: #ffffff;
  --light-gray: #efefed;
  --light-gray-2: #d9d9d6;
  --gray: #63666a;
  --medium-gray: #565757;
  --strong-gray: #363737;
  --black: #000000;
  --accent: #ce1126;
  /* Fonts & Typography */
  --font: "Mulish", Helvetica, Arial, sans-serif;
  --f-size-smaller: 11px;
  --f-size-small: 14px;
  --f-size-default: 16px;
  --f-size-big: 20px;
  --f-size-title: 24px;
  --f-weight-thinner: 200;
  --f-weight-thin: 300;
  --f-weight-medium: 500;
  --f-weight-bold: 700;
  --f-weight-bolder: 1000;
  --l-spacing-small: 0.5px;
  --line-height-title: 1.2;
  --line-height-default: 1.4;
  /* Length values */
  --max-width: 1600px;
  --indent-default: 24px;
  --indent-smaller: 8px;
  --indent-small: 12px;
  --indent-big: 36px;
  --indent-bigger: 40px;
  --gap: 16px;
  --gap-smaller: 3px;
  --gap-small: 8px;
  --gap-big: 32px;
  /* Other values */
  --transition: 300ms ease;
  --z-burger: 3;
  --z-mobile-menu: 2;
  --z-overlay: 1;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--font);
  color: var(--black);
  font-size: var(--f-size-default);
}

body.lock {
  overflow: hidden;
}

h1 {
  font-size: calc(var(--f-size-title) * 1.35);
  line-height: var(--line-height-title);
  letter-spacing: var(--l-spacing-small);
}

h2 {
  font-size: calc(var(--f-size-title) * 1.1);
  line-height: var(--line-height-title);
  letter-spacing: var(--l-spacing-small);
}

h3 {
  font-size: calc(var(--f-size-title) * 0.78);
  font-weight: var(--f-weight-bold);
  line-height: var(--line-height-default);
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
/* body overlay */
.overlay__body {
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-overlay);
}

.overlay__body.active {
  position: fixed;
  height: 100vh;
  background-color: #ffffffda;
  opacity: 0.8;
}
/* end body overlay */

.hover {
  transition: color var(--transition);
}

.hover:hover {
  color: var(--accent);
}

.wrapper {
  max-width: min(100%, var(--max-width));
  margin-inline: auto;
}

.arrow-right {
  color: var(--accent);
  margin-inline-start: 4px;
}

/* 
==============================
  HEADER
==============================
*/
/* topbar */
.topbar {
  width: 100%;
  background-color: var(--medium-gray);
  color: var(--light-gray-2);
  padding-block: var(--indent-smaller);
  padding-inline: var(--indent-default);
  font-size: var(--f-size-smaller);
  font-weight: var(--f-weight-thin);
  letter-spacing: var(--l-spacing-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block__left a:not(:nth-child(2)) {
  display: none;
}

.block__left a:nth-child(2)::after {
  content: "+";
  height: 18px;
  width: 18px;
  font-size: 18px;
  margin-inline-start: 6px;
}

.block__right a:first-child::after {
  content: " ";
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: currentColor;
  transform: translateY(3px);
}

.block__right a {
  transition: color var(--transition);
}

.block__right:hover a {
  text-decoration: underline;
  color: var(--white);
}
/* end topbar */

/* navigation */
.navigation {
  width: 100%;
  padding-inline: var(--indent-default);
  padding-block: var(--indent-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.logo__svg {
  width: 40px;
  height: 40px;
}

.logo__txt {
  font-size: var(--f-size-title);
  font-weight: var(--f-weight-bolder);
}

.nav__list-container {
  position: fixed;
  background-color: var(--white);
  top: 0;
  bottom: 0;
  right: 0;
  width: 75vw;
  padding: var(--indent-default);
  padding-block-start: calc(var(--indent-default) * 5);
  z-index: var(--z-mobile-menu);
  will-change: transform;
  transform: translateX(200%);
  transition: transform var(--transition);
  overflow-y: scroll;
  letter-spacing: var(--l-spacing-small);
}

.nav__list-container.active {
  transform: translateX(0);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav__list {
  font-size: var(--f-size-big);
  font-weight: var(--f-weight-bold);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.additional__list {
  margin-block-start: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  font-size: var(--f-size-small);
}

.nav__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--indent-default);
  z-index: var(--z-burger);
  display: flex;
  align-items: center;
  gap: calc(var(--gap) * 1.5);
}

.search {
  display: inline-block;
  color: var(--medium-gray);
  transition: color var(--transition);
  display: flex;
  align-items: center;
}

.search:hover {
  color: var(--accent);
}

.search.disable {
  display: none;
}

.burger {
  width: 23px;
  height: 13px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: var(--accent);
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.burger span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.burger span:nth-child(3) {
  top: 12.5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.burger.active {
  margin-inline-end: calc(var(--indent-default) - 10px);
}

.burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -1px;
  left: 3px;
}

.burger.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 3px;
}
/* end navigation */

/* 
==============================
  MAIN
==============================
*/
section + section {
  margin-block-start: var(--indent-bigger);
}

/* banner */
.banner__txt {
  width: 100%;
  padding: var(--indent-default);
  background-color: var(--light-gray);
}

.banner__txt-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  transition: color var(--transition);
}

.banner__txt-container:hover {
  color: var(--accent);
}

.banner__txt p {
  cursor: pointer;
  letter-spacing: var(--l-spacing-small);
  font-weight: var(--f-weight-medium);
}
/* end banner */

/* banner three cards */
.banner__three-cards-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-smaller);
}

.banner__three-cards-container article {
  width: calc((100% - var(--gap-smaller)) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__three-cards-img {
  cursor: pointer;
}

.banner__three-cards-txt {
  background-color: var(--light-gray);
  height: 100%;
  padding: 18px;
}
/* end banner three cards */

/* progress */
.progress {
  background-color: var(--light-gray);
  padding-inline: var(--indent-default);
  padding-block: calc(var(--indent-big) * 2);
}

.progress__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.progress__container h2 {
  text-align: center;
}

.images__container {
  display: flex;
  width: 100%;
  
}

.progress__images-item {
}
.arrow-right {
}
/* end progress */

/* 
==============================
FOOTER
==============================
*/
footer {
  background-color: rgb(240, 255, 240);
  width: 100%;
  height: 500px;
}

/* 
==============================
  MEDIA QUERIES
==============================
*/
@media (min-width: 570px) {
  .banner__txt {
    padding-inline: calc(var(--indent-default) * 2);
  }
}

@media (min-width: 740px) {
  h1 {
    font-size: calc(var(--f-size-title) * 1.6);
    font-weight: var(--f-weight-medium);
  }

  .banner {
    position: relative;
  }

  .banner__txt {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0) 75%
    );
  }

  .banner__txt-container {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--white);
    margin-block-end: calc(var(--indent-default) * 3);
    margin-inline: calc(var(--indent-default) * 2);
    justify-content: flex-end;
  }

  .banner__txt p {
    font-size: calc(var(--f-size-smaller) * 2);
  }

  .banner__txt svg {
    width: 12px;
    height: 12px;
  }

  .banner__three-cards-container article {
    width: calc((100% - (var(--gap-smaller) * 2)) / 3);
  }
}

@media (min-width: 996px) {
  h1 {
    font-size: calc(var(--f-size-title) * 1.8);
  }

  .topbar {
    padding-inline: var(--indent-big);
  }

  .block__left.block__left a {
    display: inline-block;
    transition: color var(--transition);
  }

  .block__left a:hover {
    color: var(--white);
    text-decoration: underline;
  }

  .block__left {
    display: flex;
    align-items: center;
    gap: var(--gap-big);
  }

  .block__left a:nth-child(2)::after {
    content: none;
  }

  .block__left a:first-child {
    font-weight: var(--f-weight-bold);
    color: var(--white);
  }

  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-small);
    padding-inline: var(--indent-big);
    padding-block: var(--indent-default);
  }

  .logo {
    align-self: flex-start;
  }

  .logo__svg {
    width: 54px;
    height: 54px;
  }

  .logo__txt {
    font-size: calc(var(--f-size-title) * 1.6);
  }

  .nav__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
  }

  .nav__list-container {
    position: static;
    width: 100%;
    padding: 0;
    transform: translateX(0);
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
  }

  .nav__list,
  .additional__list {
    font-size: var(--f-size-small);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
  }

  .additional__list {
    margin-block-start: 0;
    font-size: calc(var(--f-size-small) - 1px);
  }

  .nav__buttons {
    position: static;
    justify-self: flex-end;
    top: 0;
    transform: translateY(0);
  }

  .burger {
    display: none;
  }

  .banner__txt-container {
    margin-inline: calc(var(--indent-default) * 3);
  }

  .banner__txt svg {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 1200px) {
  .logo__svg {
    width: 64px;
    height: 64px;
  }

  .logo__txt {
    font-size: calc(var(--f-size-title) * 2);
  }

  .nav__container {
    padding-inline: calc(var(--indent-big) * 2);
  }

  .nav__list,
  .additional__list {
    font-size: var(--f-size-default);
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: calc(var(--f-size-title) * 2.1);
  }

  .logo__svg {
    width: 72px;
    height: 72px;
  }

  .logo__txt {
    font-size: calc(var(--f-size-title) * 2.3);
    font-weight: 900;
  }

  .nav__list,
  .additional__list,
  .nav__container {
    gap: var(--gap-big);
  }

  .banner__txt-container {
    margin-inline: calc(var(--indent-default) * 5);
    margin-block-end: calc(var(--indent-default) * 4);
  }
}

@media (min-width: 1600px) {
  .navigation {
    padding-inline: calc((100vw - var(--max-width)) / 2);
  }
}
